body {
    color          : #80C0C0;
    color          : Red;
    color      : #AAAAAA;
    color      : Black;
    color      : Transparent;
    color      : #2C8CFF;
    color      : Lime;
    color      : #1E5996;
}