body {
    color          : #80C0C0;
    color          : #F00;
    color      : #AAA;
    color      : #000000;
    color      : #FFF;
    color      : #2C8CFF;
    color      : #00FF00;
    color      : #1E5996;
}